# Laravel / PHP
/vendor/
/node_modules/
/vendor-bin/
.phpunit.cache/
.phpunit.result.cache
/.phpunit.cache/
composer.phar
composer.lock
.env
.env.*
.env.local
.php-cs-fixer.cache
Homestead.json
Homestead.yaml
.phpstorm.meta.php
.phpunit.result.cache
/storage/*.key
/storage/debugbar/
/storage/*.log
/storage/logs/
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*
/storage/framework/testing/*
/storage/app/public/*
/public/storage
/public/build
/public/hot
# Keep these placeholders
!storage/app/.gitignore
!storage/framework/.gitignore
!storage/logs/.gitignore

# IDE / OS
/.idea/
/.vscode/
.DS_Store
Thumbs.db

# Node / Frontend
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnp.*
.pnpm-store/

# Coverage / Reports
/coverage/
phpunit.xml
